<app-nav />
<section class="relative py-12 md:py-20">
  <div class="absolute inset-0 top-0 bottom-0 left-0 right-0">
    <img src="assets/genhero.png" alt="" class="w-full h-full" />
  </div>
  <div
    class="text-white relative z-[1] containerClass flex justify-center items-center flex-col gap-6"
  >
    <h2 class="font-bold text-3xl md:text-5xl">{{ text() }}</h2>
    <div
      class="bg-white p-1 flex items-center gap-2 rounded-lg w-[90%] md:w-[50%] md:max-w-[30rem]"
    >
      <div class="h-full flex flex-1 items-center gap-2 pl-2">
        <img src="assets/search.svg" alt="search" />
        <input
          type="text"
          placeholder="Search for book"
          class="h-full outline-none border-none text-sm text-[#810EA7] w-[80%]"
        />
      </div>

      <div
        class="bg-[#810EA7] flex w-fit gap-1 h-full justify-center items-center p-2 text-sm rounded-e-lg"
      >
        <app-button text="Search" />
        <img src="assets/search-icon.svg" alt="search-icon" />
      </div>
    </div>
  </div>
</section>
